<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../../static/style/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5">

        <div>
            <div class="d-flex align-content-center pb-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle"
                height="32" alt="Avatar" loading="lazy" />
                <p class="fw-bold ms-3" style="transform: translateY(5px);">Stephan</p>
            </div>
            <p><small>Karisuhe, Germany</small></p>
            <div class="d-flex">
                <yellow-star></yellow-star>
                <yellow-star></yellow-star>
                <yellow-star></yellow-star>
                <yellow-star></yellow-star>
                <yellow-star></yellow-star>
                <p class="ms-2" style="transform: translateY(-3px);"><small>1 week ago</small></p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia obcaecati deserunt exercitationem soluta enim animi modi error eaque debitis iste quas ipsum nostrum at molestias tempora, voluptatibus commodi quia provident? Earum assumenda corrupti totam doloribus aut, molestias maxime debitis eos!</p>
        </div>

        <div>
            <div class="d-flex align-content-center pb-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle"
                height="32" alt="Avatar" loading="lazy" />
                <p class="fw-bold ms-3" style="transform: translateY(5px);">Stephan</p>
            </div>
            <p><small>Karisuhe, Germany</small></p>
            <div class="d-flex">
                <yellow-star></yellow-star>
                <yellow-star></yellow-star>
                <yellow-star></yellow-star>
                <yellow-star></yellow-star>
                <yellow-star></yellow-star>
                <p class="ms-2" style="transform: translateY(-3px);"><small>1 week ago</small></p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia obcaecati deserunt exercitationem soluta enim animi modi error eaque debitis iste quas ipsum nostrum at molestias tempora, voluptatibus commodi quia provident? Earum assumenda corrupti totam doloribus aut, molestias maxime debitis eos!</p>
        </div>

        <div>
            <div class="d-flex align-content-center pb-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle"
                height="32" alt="Avatar" loading="lazy" />
                <p class="fw-bold ms-3" style="transform: translateY(5px);">Stephan</p>
            </div>
            <p><small>Karisuhe, Germany</small></p>
            <div class="d-flex">
                <yellow-star></yellow-star>
                <yellow-star></yellow-star>
                <yellow-star></yellow-star>
                <yellow-star></yellow-star>
                <yellow-star></yellow-star>
                <p class="ms-2" style="transform: translateY(-3px);"><small>1 week ago</small></p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia obcaecati deserunt exercitationem soluta enim animi modi error eaque debitis iste quas ipsum nostrum at molestias tempora, voluptatibus commodi quia provident? Earum assumenda corrupti totam doloribus aut, molestias maxime debitis eos!</p>
        </div>
    </div>
    
    <script src="./../../static/js/bootstrap.bundle.js"></script>
    <script src="./../../static/components/yellow-star.js"></script>
</body>
</html>